/.vs
/CodingAssessments/bin
/CodingAssessments/obj
/CodingAssessments/*.png
/CodingAssessments/AmazonMinErrorsLargeNumbers.cs
/CodingAssessments/AmazonExerciseSprints.cs
/CodingAssessments/AmazonGiftingGroups.cs